/*Colouring the payment card icons*/
.fa.ff-cc-visa{
    color:navy;
}

.fa.fa-cc-amex{
    color:blue;
}

.fa.fa-cc-mastercard{
    color:red;
}

.fa.fa-cc-discover{
    color:orange;
}

h1, #donateTitle{
    color: whitesmoke;
    text-shadow: 1px 1px 3px rebeccapurple;
    -webkit-text-stroke: 0.5px rebeccapurple;
}

main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

body {
	background: linear-gradient(to right, #5FA778,#5ba9d9,#5ba9d9, #7864c0);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 70%;
	}
	50% {
		background-position: 100% 70%;
	}
	100% {
		background-position: 0% 70%;
	}
}

form{
    background-image: url("../appimages/purchases_mobile.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border: 20px solid #7864c0;
    background-color: whitesmoke;
}

#purchaseForm{
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#donationForm{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

hr{
    border: 2px solid lightgrey;
}
  
textarea, input[type=text], input[type=number], input[type=tel], input[type=datetime-local]{
    border: 2px solid rgb(134, 44, 170);
    border-radius: 3px;
}

input[type=number]{
    border: 2px solid rgb(134, 44, 170);
    border-radius: 3px;
}
 
/*Button template taken from https://cssbuttons.app/buttons/18*/
input[type=submit], button {
    background-size: 300% 100%;
    border-radius: 50px;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-image: linear-gradient( to right, #5FA778,#bd6394,#eb80e5, #7864c0);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

input[type=submit]:hover, button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*For desktops*/
@media only screen and (min-width: 800px){
    form{
        background-image: url("../appimages/purchases_web.png");
    }
}
