h1 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #3a3b49;
}

body {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    background-color: #a4b1a6;
}

h2{
    color: #FFF089;
    text-shadow: -1px 1px 2px #000
}

p{
    color: #fcee97;
    font-weight: bold;
}

/*Show it in a normal flow for mobiles*/

.left, .right, .centre{
    text-align: center;
}

.left {
    background-color: #f6f6d2;
}

.right {
    background-color: #9e9ff3;
}

.left label{
    color: #5052db;
    font-weight: bold;
}

.right label{
    color: #fcee97;
    font-weight: bold;
}

/*For desktops, show it in split screen*/
@media only screen and (min-width: 800px){

    .half {
        height: 100%;
        width: 50%;
        position: absolute;
        overflow-x: hidden;
    }
    
    .left {
        left: 0;
    }
    
    .right {
        right: 0;
    }

    .centre {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}
