#mainNav{
    position: sticky;
    top: 0%;
    border: thin solid black;
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    z-index:1;  /*Says that the nav bar should be the upper most element in the web page*/
}

#mainNav ul{
    list-style-type: none;
    display: flex;
    background-color: #5fa778;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-left: 0px;
}

#mainNav li{
    flex-grow: 1;
    width: 30%;
    border-left: thin rgb(17, 17, 17) solid;    /*If we simply write border, they will overlap and the list items will look darker*/
}

#mainNav li:hover{
    background-color: #5c926f;
}

#mainNav a{
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: 5px center;
    min-height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    color: rgb(17, 17, 17);
    text-decoration: none;
}

ul, ol {
    display: table;
    margin: 0 auto;
}

/*To add bottom borders on the 1st three elements in the mobile nav bar so that it doesn't look like the green is merged*/

#mainNav li:nth-of-type(1){
    border-bottom: thin solid black;
}
#mainNav li:nth-of-type(2){
    border-bottom: thin solid black;
}
#mainNav li:nth-of-type(3){
    border-bottom: thin solid black;
}

/*All svg images were sourced from freesvg.org*/

#mainNav li:nth-of-type(1) a{
    background-image: url(../appimages/lion.svg);
    margin-left: 25px;
}

#mainNav li:nth-of-type(2) a{
    background-image: url(../appimages/butterfly.svg);
    margin-left: 25px;
}

#mainNav li:nth-of-type(3) a{
    background-image: url(../appimages/activity.svg);
    margin-left: 25px;
}

#mainNav li:nth-of-type(4) a{
    background-image: url(../appimages/purchase.svg);
    margin-left: 25px;
}

#mainNav li:nth-of-type(5) a{
    background-image: url(../appimages/about.svg);
    margin-left: 25px;
}

#mainNav li:nth-of-type(6) a{
    background-image: url(../appimages/contactus.svg);
    margin-left: 25px;
}

#mainNav li a{
    background-size:50px;
    align-self: center;
}

.navText{
    position: absolute;
    visibility: hidden;   /*Hide the nav text if it's a mobile device/smaller screen*/
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: seashell; /*to set the background colour of the page*/
}

/*For desktops*/
@media only screen and (min-width: 800px){

    #mainNav li{
        width: 100px;
        flex-grow: 0;
        font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
        font-size: 1em;
        text-align: center;
    }

    .navText{
        visibility: visible;
        position: relative;
        top: 0px;
        display: inline;
        text-align: center;
        padding-top: 1em;
    }

    #mainNav li:nth-of-type(1){     /*No need for the bottom borders in desktop mode*/
        border-bottom: 0px;
    }
    #mainNav li:nth-of-type(2){
        border-bottom: 0px;
    }
    #mainNav li:nth-of-type(3){
        border-bottom: 0px;
    }
}
